$accent-color: #2196f3;
$main-color: #757575;
$dark-color: #212121;
$white-color: #fff;
$hero-footer-color: #2f303a;
$project-border-color: #eeeeee;
$grey-bg-color: #f5f4fa;
$header-border: #ececec;
$btn-order-bg: #188ce8;
$icon-color: #afb1b8;
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway';
